    {% load static %}
    <!-- Header
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">


            <div class="container-full">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav extra-color">
                    <ul>
                        <li class="side-menu"><a href="#"><i class="fas fa-th-large"></i></a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'main/img/logo-light.png' %}" class="logo logo-display" alt="Logo" style="max-width: 120px;max-height: 120px;">
                        <img src="{% static 'main/img/logo.png' %}" class="logo logo-scrolled" alt="Logo" style="max-width: 120px;max-height: 120px;">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-center" data-in="#" data-out="#">
                        <li>
                            <a href="{% url 'all' %}">All</a>
                        </li>
                        <li>
                            <a href="{% url 'open' %}">Open</a>
                        </li>
                        <li>
                            <a href="{% url 'closed' %}">Closed</a>
                        </li>
                        <li>
                            <a href="{% url 'dropped' %}">Dropped</a>
                        </li>
                        <li>
                            <a href="{% url 'positive' %}">+ Feedbacks</a>
                        </li>
                        <li>
                            <a href="{% url 'negative' %}">- Feedbacks</a>
                        </li>
                        <li>
                            <a href="{% url 'pendingfeedbacks' %}">Pending Feedbacks</a>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="ti-close"></i></a>
                <div class="widget">
                    <h5 class="title">Welcome!</h5>
                     <strong><h6 class="title">{{fname}} {{lname}}</h6></strong> 
                     <strong><h6 class="title">Last Login : {{login_activity.last_login}}</h6></strong>
                </div>
                <div class="widget">
                    <h4 class="title">Additional Links</h4>
                    <ul>
                        {% if home %}
                        <li><a href="#about">About</a></li>
                        <li><a href="#team">Our Team</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                        {% else %}
                        <li><a href="{% url 'home' %}#about">About</a></li>
                        <li><a href="{% url 'home' %}#team">Our Team</a></li>
                        <li><a href="{% url 'home' %}#contact">Contact Us</a></li>
                        {% endif %}
                        <li> <u><a href="{% url 'logout' %}">Logout</a></u></li>
                    </ul>
                </div>
                {% comment %} <div class="widget social">
                    <h4 class="title">Connect With Us</h4>
                    <ul class="link">
                        <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li class="dribbble"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div> {% endcomment %}
            </div>
            <!-- End Side Menu -->

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->