{% extends 'main/mainbase.html' %}
{% load static %}
{% block title %}Negative Feedbacks{% endblock title %}

{% block main %}

{% include 'main/header.html' %}

{% include 'main/breadcrumb.html' %}

<style>
    .checked {
      color: orange;
    }
    </style>
<div>

    <center><h1 class="mt-2">Negative Feedbacks</h1></center>
    {% if feedbacks %}
    <div class="flex justify-content-center row mt-5" style="margin:0;">
        <div class="col-md-10">
            <div class="rounded">
                <div class="table-responsive ">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr #</th>
                                <th>Complaint ID</th>
                                <th>Satisfaction Status</th>
                                <th>Resolution Status</th>
                                <th>Rating</th>
                                <th>Feedback Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for feed in feedbacks %}
                        <tbody class="table-body">
                            <td>{{forloop.counter}}</td>
                            <td>{{feed.complaint_id}}</td>
                            {% if feed.satisfaction_status %}
                            <td>Satisfied</td>
                            {% else %}
                            <td>Not Satisfied</td>
                            {% endif %}
                            {% if feed.resolution_status %}
                            <td>Resolved</td>
                            {% else %}
                            <td>Not Resolved</td>
                            {% endif %}
                            {% if feed.stars == 1 %}
                            <td>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            </td>
                            {% elif feed.stars == 2 %}
                            <td>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            </td>
                            {% endif %}
                            <td>{{feed.created_at}}</td>
                            <td><a href="{% url 'viewcomplaints' feed.complaint_id %}" class="badge badge-success">View Complaint</a></td>
                            
                        </tbody>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<center><h2 style="color:red;">No Feedbacks</h2></center>
{% endif %}
</div>



{% include 'main/footer.html' %}

    {% endblock main %}