{% extends 'main/mainbase.html' %}
{% load static %}
{% block title %}All Complaints{% endblock title %}
{% block main %}

{% include 'main/header.html' %}




{% include 'main/breadcrumb.html' %}


    <!-- Start Complaint
    ============================================= -->
    {% if complaints %}
    {% for complaint in complaints %}
    <div class="blog-area single full-blog full-blog " style="padding:20px;">
        <div class="container">
            <div class="blog-items">
                <div class="row">
                    <div class="blog-content single-item wow fadeInUp col-lg-10 offset-lg-1 col-md-12">
                        <div class="item">

                            <div class="info">
                                    <center><h4>Complaint NO : {{forloop.counter}}</h3></center>
                                        
                                        <div>
                                            <div class="post-pagi-area">
                                            <center><a href="{% url 'viewcomplaints' complaint.complaint_id %}" style="float:right ">View Complaint</a></center>
                                        </div>
                                        <h4 style="float:left" >Complaint ID : {{complaint.complaint_id}}</h4>
                                    </div>
                                    
                                    <div class="mt-5 mx-0">
                                            Subject : {{complaint.title}} 
                                            </div>
                                            

                                            <strong>Status</strong>
                                            {% if complaint.is_pending %}
                                            <div class="alert alert-warning" role="alert" >
                                                Pending - Complaint Under Consideration
                                            </div>
                                            {% elif complaint.is_forwarded %}
                                            <div class="alert alert-secondary" role="alert" >
                                                Forwarded - Complaint forwarded to Focal Person
                                            </div>
                                            {% elif complaint.is_canceled %}
                                            <div class="alert alert-danger" role="alert" >
                                                Dropped - Not a valid Complaint
                                            </div>
                                            {% elif complaint.is_completed %}
                                            <div class="alert alert-success" role="alert" >
                                                Closed - Issue can't be Resolved
                                            </div>
                                            {% elif complaint.is_withdrawn %}
                                            <div class="alert alert-dark" role="alert" >
                                                Dropped - Requested by User
                                            </div>
                                            {% elif complaint.is_completed_resolved %}
                                            <div class="alert alert-success" role="alert" >
                                                Closed - Issue Resolved
                                            </div>
                                            {% endif %}
                                    <center><u style="color:blue"><a href="{% url 'seedetails' complaint.complaint_id %}" style="color:blue">See Details</a></u></center>
                                    {% if complaint.is_reviewed %}
                                    {% if complaint.is_completed or complaint.is_completed_resolved %}
                                    <div class="post-pagi-area">
                                        <a href="{% url 'feedbackdetails' complaint.complaint_id %}"  style="float:right ">View Feedback<i class="fa fa fa-thumbs-up"></i></a>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                    
                                </div>
                                
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <center><h1 style="color:red;">No complaints</h1></center>
    {% endif %}
    <!-- End Complaint -->

    {% comment %} <!-- Start Complaint
        ============================================= -->
        <div class="blog-area single full-blog full-blog " style="padding:20px;">
            <div class="container">
                <div class="blog-items">
                <div class="row">
                    <div class="blog-content single-item wow fadeInUp col-lg-10 offset-lg-1 col-md-12">
                        <div class="item">

                                <div class="info">
                                    <center><h4>Complaint NO : 2</h3></center>

                                    <div>
                                        <div class="post-pagi-area">
                                            <a href="#"  style="float:right ">View Complaint</a>
                                        </div>
                                        <h4 style="float:left" >Complaint ID : KGP73942-237593</h3>
                                        </div>
  
                                    <div class="mt-5 mx-0">
                                        Subject : Dirty Class Rooms 
                                    </div>
                                    <strong>Status</strong>
                                    <div class="alert alert-danger" role="alert" >
                                        Closed - Issue can't be Resolved
                                      </div>
                                    <center><u style="color:blue"><a href="#" style="color:blue">See Details</a></u></center>
  
                                </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Complaint -->

    <!-- Start Complaint
    ============================================= -->
    <div class="blog-area single full-blog full-blog " style="padding:20px;">
        <div class="container">
            <div class="blog-items">
                <div class="row">
                    <div class="blog-content single-item wow fadeInUp col-lg-10 offset-lg-1 col-md-12">
                        <div class="item">

                            <div class="info">
                                    <center><h4>Complaint NO : 3</h3></center>
                                    

                                    <div>
                                        <div class="post-pagi-area">
                                            <a href="#"  style="float:right ">View Complaint</a>
                                        </div>
                                        <h4 style="float:left" >Complaint ID : KGP73942-237593</h3>
                                        </div>

                                    <div>

                                        <div class="mt-5 mx-0">
                                            Subject : Dirty Class Rooms 
                                        </div>
                                    </div>
 


                                    <strong>Status</strong>
                                    <div class="alert alert-warning" role="alert">
                                        Pending - Complaint Under Consideration
                                      </div>
                                    <center><u style="color:blue"><a href="#" style="color:blue">See Details</a></u></center>
  
                                </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Complaint --> {% endcomment %}






    {% include 'main/footer.html' %}

    {% endblock main %}